.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: rgb(206, 228, 12);
  --inverted-secondary-color: rgb(240, 17, 203);
}