.app.light {
  --bg-color: #ccc;
  --inverted-bg-color: #090949;
  --primary-color: #222;
  --secondary-color: rgb(240 17 203);
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}